@model Candidate.Areas.Dashboard.Models.NewJobModel
@{
    Layout = null;
}

<div id="add-job" class="grey-container">
@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    
    <button id="close-button" class="clean-grey right">X</button>
                                 
    <fieldset>
        <legend>Add new job</legend>
        <div id="job-name-label">
            @Html.LabelFor(m => m.Name)
        </div>
        <div id="job-name-input">
            @Html.TextBoxFor(m => m.Name)
        </div>
    </fieldset>
        
    <button id="submit" type="submit" class="minimal">Add job</button>
} 
</div>