@{
    ViewBag.Title = "Build Server | Dashboard";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<div id="internal-nagivation">
    <h2>Build > Jobs</h2>
</div>
<div id="actions">
    <div class="content-menu right">
        <button class="cupid-green" id="add-job" method=@Url.Action("Add")>Add job</button>
    </div>
</div>
<div class="clearfix">
        <div class="loader"></div>
</div>
<div id="action-content">
</div>

<div id="jobs">
    @Html.Action("List")
</div>
@*<div id="buttons" class="right cleanfix">
    <button type="button" class="minimal">Export jobs</button>
    <button type="button" class="minimal">Delete jobs</button>
</div>*@

@section Scripts {
    <script src="@Url.Content("~/Scripts/Controllers/controller.dashboard.js")" type="text/javascript"></script>
}