@{
    ViewBag.Title = "Build Server | Dashboard";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<input id="temporaryPassword" type="hidden" value="@ViewBag.TemporaryPassword" />
<div id="internal-nagivation">
    <h2>Build > Sites</h2>
</div>
<div id="actions">
    <div class="content-menu right">
        <button class="cupid-green" id="add-job-button" data-method="configuration/add">Add site</button>
    </div>
</div>
<div class="clearfix">
        <div class="loader"></div>
</div>
<div id="action-content">
</div>

<div id="jobs">
    @Html.Action("List")
</div>

@section Scripts {
    <script src="@Url.Content("~/Scripts/Controllers/controller.dashboard.js")" type="text/javascript"></script>
}