@model IList<Candidate.Core.Configurations.Types.Configuration>
@{
    ViewBag.Title = "List";
}

@if (Model == null || Model.Count == 0)
{
    <span>No sites</span>
}
else
{
    foreach (var job in Model)
    {
        <div class="job clearfix">
            <span class="job-name"><a href="overview/show/@job.Id">@job.ReadableName</a></span>
            
            <span class="job-status"></span>
            <div id="buttons" class="right cleanfix">
                <button type="button" class="minimal" data-target="configuration/configure/@job.Id">Configure</button>
                <button type="button" class="minimal" data-target="deployment/deploy/@job.Id">Deploy</button>
                <button type="button" class="minimal" data-target="configuration/delete/@job.Id">Delete</button>
            </div>          
        </div>
    }
}