<div class="row mbm mtl">
    <a href="#" class="btn btn-primary btn-large pull-right">Add site</a>
</div>

<div class="candidate-sites-header rcs">
    <label class="candidate-sites-cell sort"></label>
    <label class="candidate-sites-cell name">Name</label>
    <label class="candidate-sites-cell status">Status</label>
    <label class="candidate-sites-cell configure">Configure</label>
    <label class="candidate-sites-cell deploy">Deploy</label>
    <label class="candidate-sites-cell delete">Delete</label>
</div>

<div class="candidate-sites mts">
    {{#sites}}
    <div class="candidate-site pts pbs">
        <span class="candidate-sites-cell sort"></span>
        <span class="candidate-sites-cell name"><a href="#">{{name}}</a></span>
        <span class="candidate-sites-cell status">{{status}}</span>
        <span class="candidate-sites-cell configure"><a href="#"><i class="icon-cog"></i></a></span>
        <span class="candidate-sites-cell deploy"><a href="#"><i class="icon-home"></i></a></span>
        <span class="candidate-sites-cell delete"><a href="#"><i class="icon-trash"></i></a></span>
    </div>
    {{/sites}}
</div>