<div class="row mbm mtl">
    <a href="#" class="btn btn-primary btn-large pull-right">Add site</a>
</div>
<div class="candidate-sites-header rcs">
    <label class="candidate-sites-cell sort"></label>
    <label class="candidate-sites-cell name">Name</label>
    <label class="candidate-sites-cell status">Status</label>
    <label class="candidate-sites-cell configure">Configure</label>
    <label class="candidate-sites-cell deploy">Deploy</label>
    <label class="candidate-sites-cell delete">Delete</label>
</div>
<div class="candidate-sites mts">
    <div class="candidate-site pts pbs">
        <span class="candidate-sites-cell sort"></span>
        <span class="candidate-sites-cell name"><a href="#">Site - 1 (production environment)</a></span>
        <span class="candidate-sites-cell status">Deployed at 21:44:03 (rev 34de12f)</span>
        <span class="candidate-sites-cell configure"><a href="#"><i class="icon-cog"></i></a></span>
        <span class="candidate-sites-cell deploy"><a href="#"><i class="icon-home"></i></a></span>
        <span class="candidate-sites-cell delete"><a href="#"><i class="icon-trash"></i></a></span>

    </div>
    <div class="candidate-site pts pbs">
        <span class="candidate-sites-cell sort"></span>
        <span class="candidate-sites-cell name"><a href="#">Site - 2 (staging environment)</a></span>
        <span class="candidate-sites-cell status">Currently deploying...</span>
        <span class="candidate-sites-cell configure"><a href="#"><i class="icon-cog"></i></a></span>
        <span class="candidate-sites-cell deploy"><a href="#"><i class="icon-home"></i></a></span>
        <span class="candidate-sites-cell delete"><a href="#"><i class="icon-trash"></i></a></span>
    </div>
</div>