@model IList<Ivanov.Build.Server.Areas.Dashboard.Models.Job>
@{
    ViewBag.Title = "List";
}

@if (Model == null || Model.Count == 0)
{
    <span>No active jobs</span>
}
else
{
    <table id="team-members-table">
    <thead>
        <th class="narrow">
            Id
        </th>
        <th>
            Job Name
        </th>
        <th>
            Last Build
        </th>
        <th>
            Status
        </th>
        <th>
            Configure
        </th>
        <th class="narrow">
            Run
        </th>
        <th class="narrow">
            Delete
        </th>
    </thead>
    <tbody>

        @foreach (var job in Model)
        {
            <tr>
                <td>
                    @job.Id
                </td>
                <td>
                    @job.Name
                </td>
                <td>
                    @job.LastBuildDate
                </td>
                <td>
                    @job.Status
                </td>
                <td class="center">
                    <a href="#">Configure</a>
                </td>
                <td class="center">
                    <a href="#">Run</a>
                </td>
                <td class="center">
                    <a class="delete-teammember" href="#">X</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
}