<ul class="nav configure-nav">
    <li>
        <a href="/configure/sites/{{id}}/overview" class="overview">Overview</a>
    </li>
    <li>
        <a href="/configure/sites/{{id}}/configuration" class="configuration">Configuration</a>
    </li>
    <li>
        <a href="/configure/sites/{{id}}/deployments" class="deployments">Deployments</a>
    </li>
    <li>
        <a href="/configure/sites/{{id}}/history" class="history">History</a>
    </li>
    <li>
        <a href="/" class="back">Back</a>
    </li>
</ul>