<div class="candidate-site pts pbs">
    <span class="candidate-sites-cell sort"></span>
    <span class="candidate-sites-cell name"><a href="#">{{name}}</a></span>
    <span class="candidate-sites-cell status">{{status}}</span>
    <span class="candidate-sites-cell configure"><a href="/configure/{{id}}"><i class="icon-cog"></i></a></span>
    <span class="candidate-sites-cell deploy"><a href="#"><i class="icon-home"></i></a></span>
    <span class="candidate-sites-cell delete"><a href="#"><i class="icon-trash"></i></a></span>
</div>
