body
{
    font-family: "helvetica neue" , helvetica, arial, sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

fieldset
{
    margin: 0 0 8px 0;
}

textarea, input[type="text"], input[type="password"], select
{
    background: #f6f6f6;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #e3e3e3, 0 1px 0 0 #efefef;
    padding: 8px 6px;
    min-width: 140px;
}

div#login-box
{
    position: relative;
    top: 180px;
    margin: 0 auto;
    padding: 14px;
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #A7A7A7;
    clear: both;
    height: auto;
}

div#login-box input 
{
    width: 340px;
}

div#login-box fieldset label
{
    color: #555;
    display: block;
    font-size: 11px;
    margin: 0 0 4px 0;
    text-shadow: 0 1px 0 #eee;
}

div#login-box fieldset
{
    margin: 16px 0px 8px 0px;
}

div#login-welcome
{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Bevan' , arial, serif;
    margin: 0 6px 6px 0;
}

div#information
{
    font-size: 12px;
    margin: 0 3px 3px 0;
    color: #989898;
}

div.line
{
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #A7A7A7;
}

.right
{
    float: right;
}

header
{
    height: 80px;
    display: block;
    border-bottom: 1px solid #656565;
    background: #eeeeee; /* old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* ie */
}

header div#logo
{
    position: relative;
    top: 20px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Bevan' , arial, serif;
    margin: 0 6px 6px 0;
    text-shadow: 0px 4px 10px #a3a3a3;
    filter: dropshadow(color=#a3a3a3, offx=0, offy=4);
}

header div#logo a
{
    color: #333333;
    text-decoration:none;
}

header nav.header-menu
{
    display: block;
    position: relative;
    right: 10px;
    float: right;
}

header nav.header-menu ul
{
    background: none repeat scroll 0 0 #acacac;
    padding: 0.3em 0.75em;
}

header nav.header-menu ul li
{
    display: inline;
    list-style: none;
    margin-right: 7px;
}

header nav.header-menu ul li a
{
    color: #f5f5f5;
    font-size: 14px;
}

#content
{
    position: relative;
    top: 16px;
}

nav.content-menu ul li
{
    display: inline;
    list-style: none;
}

#jobs
{
    position: relative;
    margin: 18px 0px 18px 0px;
}

#team-members-table
{
    width: 100%;
}

#team-members-table th, td
{
    border: 1px solid #CCCCCC;
    padding: 4px;    
}

#team-members-table th
{
    background: #eeeeee;
    border: 1px solid #CCCCCC;
}


#team-members-table th.narrow
{
    width: 20px;
}

#team-members-table td.center
{
    text-align: center;
    margin: 0 auto;
}

footer
{
    position: relative;
    top: 80px;
    text-align: center;
    color: #aaa;
}

.grey-container
{
    display:block;
    margin: 10px 0px 10px 0px;
    background: #eeeeee;
    border: 1px solid #CCCCCC;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;    
    border-radius: 15px;    
    padding: 16px;
}

.loader
{
    display: inline-block;
    width: 16px;
    height: 11px;
    background: url(Images/ajax-loader.gif) no-repeat;
}

.run-console
{
    position: relative;
    display: block;
    top: 12px;
    
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;    
    border-radius: 15px;    
    border: 1px solid #CCCCCC;
    background: #EEEEEE;
    
    min-height: 540px;
    padding: 16px 12px;
}

.run-console p
{
    margin-bottom: 2px !important; 
}

.setup-progress
{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#current-step
{
    font-weight: bold;
    font-size: 26px;
}

span.small 
{
    font-weight: normal !important;    
    font-size: 14px;
}

span.error 
{
    color: #ce1b30;
}

span.success 
{
    color: #2e5e36;
}

.preloader
{
    display: block;
    width: 220px;
    height: 27px;    
    margin: 18px auto;
 
    background: url(Images/preloader.gif) no-repeat;
}

.configuration
{
}

.configuration-line
{
    margin: 0 auto;
    width: 700px;
}

.configuration-box 
{
    display: inline-block;
    
    width: 140px;
    height: 120px;
    border: 1px solid #CCC;
    
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    
    background: rgb(235,241,246); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(50%,rgba(171,211,238,1)), color-stop(51%,rgba(137,195,235,1)), color-stop(100%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* W3C */
    
    -webkit-box-shadow: 0px 0px 10px 1px #a3a3a3;
    -moz-box-shadow: 0px 0px 10px 1px #a3a3a3;
    box-shadow: 0px 0px 10wpx 1px #a3a3a3;
    
    margin-right: 16px;
    
    padding: 6px 0px;
    text-align: center;

    cursor: pointer;
}

.configuration-box p
{
    margin-top: 44px;
    font-size: 28px;
    font-weight: bold;
    color: #e6e6e6;
    text-shadow: 1px 1px 5px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
}

.configuration-box:hover
{
    background: #a4ceeb;
}

.dialog
{
    width: 640px;
}

.dialog form
{
    display:block;    
}

.dialog fieldset
{
    border-style:none;
    padding: 0 4px 0 4px;
}

.dialog legend 
{
    font-size:large;
    font-weight: bold;
}

.dialog label
{
    text-align: left;
    display: inline-block;
    width: 120px !important;    
}

.dialog input[type="text"]
{
    display: inline-block;
    width: 430px !important;        
}

.dialog div
{
    margin: 9px;    
}

.job
{
    display: block;
    width: 100%;
    height: 34px;
}

.job span
{
    display: inline-block;
}

.job span.job-name
{
    width: 120px;
}

.job span.job-status
{
    text-align: center;
    width: 320px;
}

button a
{
    text-decoration: none;
    color: #333;
}

button a:visited
{
    text-decoration: none;
    color: #333;
}

div#summary
{
    font-size: 15px;
}

.tooltip
{
    display: block;
    position: absolute;
    left: -1em;
    right: -1em;
    margin-top: 5px;
    width: 400px;
    
    
    background: #f7ca94; /* Old browsers */
    background: -moz-linear-gradient(top, #f7ca94 0%, #fc9b3a 64%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7ca94), color-stop(64%,#fc9b3a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f7ca94 0%,#fc9b3a 64%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f7ca94 0%,#fc9b3a 64%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f7ca94 0%,#fc9b3a 64%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ca94', endColorstr='#fc9b3a',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #f7ca94 0%,#fc9b3a 64%); /* W3C */
    
    padding: .8em 1em;
    border-radius: .5em;
    box-shadow: 3px 3px 10px -5px black;
}

.tooltip:after 
{
    content: "";
    position: absolute;
    top: -16px;
    left: 65px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: #f7ca94;
}

