@using Candidate.Infrustructure.Extensions
@{
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<div id="internal-nagivation">
    <h2>Build > Sites > @Html.CurrentAction()</h2>
    <div class="right">@Html.ActionLink("Back to dashboard", "Index", new { area = "Dashboard", controller = "Dashboard" } )</div>
    <div class="clear"></div>
</div>

<div class="grey-container">
    @RenderBody() 
</div>

@RenderSection(name: "Scripts", required: false)

