body {
    padding-top: 90px;
}

#app {
    padding: 10px 0 10px 0;
    min-height: 320px;
}

.rcs {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.candidate-sites-header {
    height: 26px;
    background-color: #2C2C2C;
    color: white;
}

.candidate-sites-cell {
    line-height: 26px;
    display: inline-block;
    vertical-align: top;
}

.candidate-sites-cell.sort {
    width: 3.333333%;
}

.candidate-sites-cell.name {
    width: 44.166666%;
}

.candidate-sites-cell.status {
    width: 31.666666%;
}

.candidate-sites-cell.configure, .candidate-sites-cell.deploy, .candidate-sites-cell.delete {
    text-align: right;
    min-width: 5%;
}

ul.configure-nav li {
    margin-top: 4px;
}

ul.configure-nav .back {
    margin-top: 52px;
}