@{
    ViewBag.Title = "Deployment | Deploy";
    Layout = "~/Areas/Dashboard/Views/Shared/_Page.cshtml";    
}

<div class="setup-progress">
    <div id="current-step">
        <span class="error">Sorry, it is not possible to start deployment of application, since it is not configured.</span>
    </div>
</div>