@model Candidate.Areas.Dashboard.Models.IisModel

<h2>IIS web site configuration</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary();
                                   
    <fieldset>
        <div id="iis-name">
            @Html.LabelFor(m => m.SiteName)
            @Html.TextBoxFor(m => m.SiteName)
        </div>
    </fieldset>

    <div class="clear"></div>    
    <button type="submit" class="minimal">Save config</button>
    <button type="reset" class="minimal">Reset</button>    
    
}