@model Candidate.Core.Model.Pre
@{
    Layout = "~/Areas/Dashboard/Views/Shared/_Unobtrusive.cshtml";
}
<div class="dialog">
@using (Html.BeginForm()) {
    @Html.ValidationSummary();
                                   
    <fieldset>
        <legend>Post build configuration</legend>
        <div id="batch-name">
            @Html.LabelFor(m => m.Batch)
            @Html.TextBoxFor(m => m.Batch)
        </div>
    </fieldset>

    <div class="right">
        <button type="submit" class="minimal">Save config</button>
        <button id="close" type="button" class="minimal">Close</button>    
    </div>
}
</div>