@model Candidate.Core.Model.Configurations.Configuration
           
@{
    ViewBag.Title = "Configure | Visual Studio";
    Layout = "~/Areas/Configuration/Views/Shared/_Configure.cshtml";    
}

<div class="configuration-line">
    <div class="configuration-box" data-source="../@Model.Type/github/@Model.Id">
        <p>
            GITHUB
        </p>
    </div>
    <div class="configuration-box" data-source="../@Model.Type/solution/@Model.Id">
        <p>
            VS
        </p>
    </div>
    <div class="configuration-box" data-source="../@Model.Type/iis/@Model.Id">
        <p>
            IIS
        </p>
    </div>
</div>
