@{
    ViewBag.Title = "ConfigureForXCopy";
    Layout = "~/Areas/Configuration/Views/Shared/_Configure.cshtml";
}

<div class="configuration-line">
    <div class="configuration-box">
        <p>GITHUB</p>
    </div>
    <div class="configuration-box">
        <p>IIS</p>
    </div>
    <div class="configuration-box">
        <p>XCOPY</p>
    </div>
</div>

