<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="candidate - continuos deployment system" content="">
    <meta name="viewport" content="width=device-width">
    <link href="content/bootstrap.css" rel="stylesheet">
    <link href="content/bootstrap-responsive.css" rel="stylesheet">
    <link href="content/spacing.css" rel="stylesheet">    
    <link href="content/style.css" rel="stylesheet">

    <script src="scripts/libs/modernizr-2.5.3.min.js"></script>
    <script data-main="scripts/main" src="scripts/libs/require.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
            <a href="/" class="brand">Candidate</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="">Faq</a></li>
                        <li><a href="">Account</a></li>
                        <li><a href="">Support</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div id="app" class="container"></div>
        
        <hr/>
        <footer>
            <p>
                Sources of this application is available on <a href="https://github.com/alexanderbeletsky/candidate">github</a>. Please report any problem <a href="https://github.com/alexanderbeletsky/candidate/issues">here</a>.
            </p>
            <p>
                <span>Copyright © 2011-2012 All rights reserved</span>
            <p>
        </footer>
    </div>
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    
</body>
</html>
