body
{
    font-family: "helvetica neue" , helvetica, arial, sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

fieldset
{
    margin: 0 0 8px 0;
}

textarea, input[type="text"], input[type="password"]
{
    background: #f6f6f6;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #e3e3e3, 0 1px 0 0 #efefef;
    padding: 8px 6px;
    width: 300px;
}

div#login-box
{
    position: relative;
    top: 180px;
    margin: 0 auto;
    padding: 14px;
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #A7A7A7;
    clear: both;
    height: auto;
}

div#login-box fieldset label
{
    color: #555;
    display: block;
    font-size: 11px;
    margin: 0 0 4px 0;
    text-shadow: 0 1px 0 #eee;
}

div#login-box fieldset
{
    margin: 16px 0px 8px 0px;
}

div#login-welcome
{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Bevan' , arial, serif;
    margin: 0 6px 6px 0;
}

div#information
{
    font-size: 12px;
    margin: 0 3px 3px 0;
    color: #989898;
}

div.line
{
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #A7A7A7;
}

.right
{
    float: right;
}

header
{
    height: 80px;
    display: block;
    border-bottom: 1px solid #656565;
    background: #eeeeee; /* old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* ie */
}

header div#logo
{
    position: relative;
    top: 20px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Bevan' , arial, serif;
    margin: 0 6px 6px 0;
    text-shadow: 0px 4px 10px #a3a3a3;
    filter: dropshadow(color=#a3a3a3, offx=0, offy=4);
}

header nav.header-menu
{
    display: block;
    position: relative;
    right: 10px;
    float: right;
}

header nav.header-menu ul
{
    background: none repeat scroll 0 0 #acacac;
    padding: 0.3em 0.75em;
}

header nav.header-menu ul li
{
    display: inline;
    list-style: none;
    margin-right: 7px;
}

header nav.header-menu ul li a
{
    color: #f5f5f5;
    font-size: 14px;
}

#content
{
    position: relative;
    top: 16px;
}

nav.content-menu ul li
{
    display: inline;
    list-style: none;
}

#jobs
{
    position: relative;
    margin: 18px 0px 18px 0px;
}

#team-members-table
{
    width: 100%;
}

#team-members-table th, td
{
    border: 1px solid #CCCCCC;
    padding: 4px;    
}

#team-members-table th
{
    background: #eeeeee;
    border: 1px solid #CCCCCC;
}


#team-members-table th.narrow
{
    width: 20px;
}

#team-members-table td.center
{
    text-align: center;
    margin: 0 auto;
}

footer
{
    position: relative;
    top: 80px;
    text-align: center;
    color: #aaa;
}

.grey-container
{
    display:block;
    margin: 10px 0px 10px 0px;
    background: #eeeeee;
    border: 1px solid #CCCCCC;
    -moz-border-radius: 15px;
    border-radius: 15px;    
    padding: 16px;
}

.loader
{
    display: inline-block;
    width: 16px;
    height: 11px;
    background: url(Images/ajax-loader.gif) no-repeat;
}

.run-console
{
    position: relative;
    display: block;
    top: 12px;
    
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;    
    border-radius: 15px;    
    border: 1px solid #CCCCCC;
    background: #EEEEEE;
    
    min-height: 540px;
    padding: 16px 12px;
}

.run-console p
{
    margin-bottom: 2px !important; 
}